@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,100;9..144,700&family=Lexend+Deca&family=Montserrat:wght@100&display=swap");

:root {
  --primary-00: hsl(0, 0%, 100%);
  --primary-01: hsl(158, 36%, 37%);
  --primary-02: hsl(30, 38%, 92%);
  --primary-03: hsl(212, 21%, 14%);
  --primary-04: hsl(228, 12%, 48%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--primary-02);
}

#grid-container {
  background-color: var(--primary-00);
  font-size: 14px;
  margin: 4em auto 2em auto;
  max-width: 560px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* grid-template-columns: 1fr 1fr; */
}
.item {
  margin: auto;
}

h2 {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 4px;
}
h1 {
  padding: 25px 0;
  font-weight: 700;
}

p {
  font-family: Montserrat;
  font-weight: 500;
}
img {
  display: flex;
  max-width: 280px;
  border-radius: 10px 0 0 10px;
  opacity: 0.5;
  /* position: relative; */
}
img:hover {
  opacity: 1;
  cursor: pointer;
}
.right-col {
  padding: 30px;
  overflow: hidden;
}

.sale-price {
  color: var(--primary-01);
  font-size: 2em;
  padding: 20px 0;
  font-family: Fraunces;
  font-weight: 700;
}
.original-price {
  text-decoration: line-through;
  color: grey;
  font-size: 0.5em;
  margin-left: 20px;
}

button {
  padding: 12px 60px;
  background: var(--primary-01);
  border: none;
  border-radius: 8px;
  color: var(--primary-00);
}
svg {
  margin-right: 8px;
}

button:hover {
  background: var(--primary-03);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* - Desktop: 1440px */
@media (max-width: 1440px) {
  #grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
/* - Mobile: 375px */
@media (max-width: 375px) {
  #grid-container {
    grid-template-columns: 1fr;
    margin-left: 1.5em;
  }
}
